<h1>Thêm </h1>
<form action="/add" method="POST">
    ID: <input type="number" name="id"><br>
    ID: <input type="number" name="id"><br>
    Address: <input type="text" name="address"><br>
    GetNotification : <input type="text" name="getnotification"><br>
    Verified: <input type="text" name="verified"><br>
    Get Open: <input type="text" name="getopen"><br>

    <button type="submit"> Thêm </button>
</form>